<!-- Home Page -->
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>2018 Player Info</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="C:\Users\colli\OneDrive\Desktop\Lab_Website\resources\css\my_style.css" rel="stylesheet">
  </head>

  <body>
    <!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
	  <a class="navbar-brand" href="home.html">
		<img class="rounded-circle" src="C:\Users\colli\OneDrive\Desktop\Lab_Website\resources\img\ResumeJack.jpg" alt="" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="home.html">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="Resume.html">Resume<span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="FAQ.html">FAQ</a>
		  </li>
		</ul>
	  </div>
	</nav>

  <!-- Whole screen -->
<div>

  <!-- left side of screen -->
  <div id = "leftSide">
    <div style="position:absolute;left:10px;right:45%;float:left;width: 45%;height: 500px;margin:10px;">
      <img class ="circle" src="C:\Users\colli\OneDrive\Desktop\Lab_Website\resources\img\ResumeJack.jpg" alt="Image of Me" height="250px" width="200px">
      <h2>Jack Collier</h2>
      <table>
        <tr>
          <th style="padding-right:15px; font-size:15px;"><p>Current Project:</p></td> <td style="font-size:15px;"><p>Finishing my degree</p></td>
        </tr>
      </table>
    </div>
    <div style="position:absolute;left:50%;right: 10px;float:right;width: 50%;margin:10px">
      <h2 style="text-align: center;">Contact Info</h2>
      <p>10/23/1998</p>
      <p>Broomfield, CO</p>
      <p>(985) 590-2517</p>
    </div>
  </div>

  <!-- right side of screen -->
  <div id = "rightSide" style="height:360px;">
    <div class="card" style="position:absolute; left: 10px; right: 20px;">
      <div class="container">
        <h4 style = "text-align: center;"><b>Weather at my home</b></h4>
      </div>

      <!-- Weather Info -->
      <div>
        <!-- Topper -->
        <div>
          <!-- Left -->
          <div style="position:absolute; left:0px; width:50%; text-align: center;">
            <h3>Monday</h3>
          </div>
          <!-- Right -->
          <div style="position:absolute; right:0px; width:30%; text-align: center;">
            <h3>70 F</h3>
          </div>
        </div>

        <!-- picture -->
        <div>
          <img src="C:\Users\colli\OneDrive\Desktop\Lab_Website\resources\img\testHomeIMG.jpg" alt="Avatar" style="position:absolute; left: 30px; top: 80px;  margin:10px; width:90%; height:340px; ">
        </div>
      </div>

    </div>
  </div>

  <!-- portfolio section -->
  <div id = "portfolioTopper">
    <h1 style="text-align: center;">Portfolio</h1>
    <div class="overflow-auto" style="overflow-x: hidden; position:absolute; z-index:-1; left: 10px; right:10px; top:40px; width:auto; height:280px; ">
      <!-- top row of portfolio -->
      <div class="row" style="position:fixed; z-index:1; left:20px; right:20px; background-color:blue">
        <div class="column" id="portfolioTopColumn1">
          <h3 style="text-align: center;">SKILL</h3>
        </div>
        <div class="column" id="portfolioTopColumn2">
          <h3 style="text-align: center;">TITLE</h3>
        </div>
        <div class="column" id="portfolioTopColumn3">
          <h3 style="text-align: center;">DATE</h3>
        </div>
        <div class="column" id="portfolioTopColumn4">
          <h3 style="text-align: center;">FINISHED?</h3>
        </div>
      </div>
      <!-- start of portfolio list -->
      <div class="row" style="position:absolute; top:40px; left:20px; right:20px; background-color:blue ">
        <div class="column" id="portfolioColumn1">
          <p style="text-align: center;">html</p>
        </div>
        <div class="column" id="portfolioColumn2">
          <div style="position:absolute; right:50%;">
            <a href="FAQ.html">2</a>
          </div>
        </div>
        <div class="column" id="portfolioColumn3">
          <p style="text-align: center;">date</p>
        </div>
        <div class="column" id="portfolioColumn4">
          <p style="text-align: center;">N</p>
        </div>
      </div>
      <div class="row" style="position:absolute; top:80px; left:20px; right:20px; background-color:blue">
        <div class="column" id="portfolioColumn1">
          <p style="text-align: center;">html</p>
        </div>
        <div class="column" id="portfolioColumn2">
          <div style="position:absolute; right:50%;">
            <a href="FAQ.html">2</a>
          </div>
        </div>
        <div class="column" id="portfolioColumn3">
          <p style="text-align: center;">date</p>
        </div>
        <div class="column" id="portfolioColumn4">
          <p style="text-align: center;">N</p>
        </div>
      </div>
      <div class="row" style="position:absolute; top:120px; left:20px; right:20px; background-color:blue">
        <div class="column" id="portfolioColumn1">
          <p style="text-align: center;">html</p>
        </div>
        <div class="column" id="portfolioColumn2">
          <div style="position:absolute; right:50%;">
            <a href="FAQ.html">2</a>
          </div>
        </div>
        <div class="column" id="portfolioColumn3">
          <p style="text-align: center;">date</p>
        </div>
        <div class="column" id="portfolioColumn4">
          <p style="text-align: center;">N</p>
        </div>
      </div>
      <div class="row" style="position:absolute; top:160px; left:20px; right:20px; background-color:blue">
        <div class="column" id="portfolioColumn1">
          <p style="text-align: center;">html</p>
        </div>
        <div class="column" id="portfolioColumn2">
          <div style="position:absolute; right:50%;">
            <a href="FAQ.html">2</a>
          </div>
        </div>
        <div class="column" id="portfolioColumn3">
          <p style="text-align: center;">date</p>
        </div>
        <div class="column" id="portfolioColumn4">
          <p style="text-align: center;">N</p>
        </div>
      </div>
      <div class="row" style="position:absolute; top:200px; left:20px; right:20px; background-color:blue">
        <div class="column" id="portfolioColumn1">
          <p style="text-align: center;">html</p>
        </div>
        <div class="column" id="portfolioColumn2">
          <div style="position:absolute; right:50%;">
            <a href="FAQ.html">2</a>
          </div>
        </div>
        <div class="column" id="portfolioColumn3">
          <p style="text-align: center;">date</p>
        </div>
        <div class="column" id="portfolioColumn4">
          <p style="text-align: center;">N</p>
        </div>
      </div>
      <div class="row" style="position:absolute; top:240px; left:20px; right:20px; background-color:blue">
        <div class="column" id="portfolioColumn1">
          <p style="text-align: center;">html</p>
        </div>
        <div class="column" id="portfolioColumn2">
          <div style="position:absolute; right:50%;">
            <a href="FAQ.html">2</a>
          </div>
        </div>
        <div class="column" id="portfolioColumn3">
          <p style="text-align: center;">date</p>
        </div>
        <div class="column" id="portfolioColumn4">
          <p style="text-align: center;">N</p>
        </div>
      </div>
      <div class="row" style="position:absolute; top:280px; left:20px; right:20px; background-color:blue">
        <div class="column" id="portfolioColumn1">
          <p style="text-align: center;">html</p>
        </div>
        <div class="column" id="portfolioColumn2">
          <div style="position:absolute; right:50%;">
            <a href="FAQ.html">2</a>
          </div>
        </div>
        <div class="column" id="portfolioColumn3">
          <p style="text-align: center;">date</p>
        </div>
        <div class="column" id="portfolioColumn4">
          <p style="text-align: center;">N</p>
        </div>
      </div>
      <div class="row" style="position:absolute; top:320px; left:20px; right:20px; background-color:blue">
        <div class="column" id="portfolioColumn1">
          <p style="text-align: center;">html</p>
        </div>
        <div class="column" id="portfolioColumn2">
          <div style="position:absolute; right:50%;">
            <a href="FAQ.html">2</a>
          </div>
        </div>
        <div class="column" id="portfolioColumn3">
          <p style="text-align: center;">date</p>
        </div>
        <div class="column" id="portfolioColumn4">
          <p style="text-align: center;">N</p>
        </div>
      </div>
      <div class="row" style="position:absolute; top:360px; left:20px; right:20px; background-color:blue">
        <div class="column" id="portfolioColumn1">
          <p style="text-align: center;">html</p>
        </div>
        <div class="column" id="portfolioColumn2">
          <div style="position:absolute; right:50%;">
            <a href="FAQ.html">2</a>
          </div>
        </div>
        <div class="column" id="portfolioColumn3">
          <p style="text-align: center;">date</p>
        </div>
        <div class="column" id="portfolioColumn4">
          <p style="text-align: center;">N</p>
        </div>
      </div>


    </div>
  </div>
</div>

<!-- what do these scripts do? -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
