<!-- Team Stats Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>2018 Season Stats</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>

    <!--Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
  		<ul class="navbar-nav mr-auto">
  		  <li class="nav-item">
  			     <a class="nav-link" href="home.html">Home</a>
  		  </li>
  		  <li class="nav-item active">
  			     <a class="nav-link" href="Resume.html">Resume</a>
  		  </li>
  		  <li class="nav-item">
  			     <a class="nav-link" href="FAQ.html">FAQ</a>
  		  </li>
  		</ul>
	  </div>
	</nav>

<!-- Screen -->
    <!-- Left Side of Screen -->
      <div style="position:fixed; left: 0px; bottom:0px; top:55px; right:75%; z-index:-1; background-color:grey;">
          <div style = "position:absolute; left: 20%; right: 20%; top:10px; bottom: 72%; ">
              <img class ="circle" src="C:\Users\colli\OneDrive\Desktop\Lab_Website\resources\img\ResumeJack.jpg" alt="Image of Me" >
          </div>

          <div style = "position:absolute; left: 5px; right: 5px; top: 30%; bottom:40%;">
            <div style="position:absolute; left: 5px; right: 5px; top: 5px; height:15%;">
              <div style="position:absolute; left: 0px; width:40px; height: 100%; ">
                <img class ="circle" src="C:\Users\colli\OneDrive\Desktop\Lab_Website\resources\img\calendar-icon.png" height="30px" width="30px">
              </div>
              <div style="position:absolute; left: 40px;  height: 100%;">
                <h4>Broomfield, CO</h4>
              </div>
            </div>
            <div style="position:absolute; left: 5px; right: 5px; top: 15%; height:15%;">
              <h4>Comp Sci Grad</h4>
            </div>

          </div>
          <div class="card" style="position:absolute; left: 5px; right: 5px; top: 60%;  background-color: blue;">
            <div class="container">
              <h2>Contact Info</h2>
            </div>
            <h5>(985) 590-2517</h5>
            <h5>Collierjack101@gmail.com</h5>
          </div>
      </div>
      <!-- Right Side of Screen -->
        <div id="rightSide" >
          <!-- PROFILE -->
            <div>
              <h2>Profile</h2>
              <ul>
                <li>Computer Scientist</li>
                <li>Proficient with multiple programming languages, Git, and application design</li>
                <li>Love learning new things and tools everyday. If I do not know something I will dedicate myself to learning it</li>
              </ul>
            </div>
          <!-- WORK EXPERIENCE -->
            <div>
              <h2>Work Experience</h2>
              <ul>
                <li>Volunteered over 50 hours in 2019 in a soup kitchen</li>
              </ul>
            </div>
          <!-- EDUCATION -->
            <div>
              <h2>Education</h2>
              <ul style="list-style-type:none;">
                <table>
            	       <tr>
            		       <th style="padding-right: 10px;">Institution</th>                       <th style="padding-right: 10px;">Year Started</th>     <th>Year Ended</th>
            	       </tr>
                     <tr>
            		       <td>Battle Ground Academy</td>             <td style="text-align:center;">2014</td>             <td style="text-align:center;">2015</td>
            	       </tr>
            	       <tr>
            		       <td>Franklin High School</td>              <td style="text-align:center;">2015</td>             <td style="text-align:center;">2018</td>
            	       </tr>
            	       <tr>
            		        <td>University of Colorado Boulder</td>   <td style="text-align:center;">2019</td>             <td style="text-align:center;">2021</td>
            	       </tr>
                </table>
              </ul>
              <h2>Certifications</h2>
              <h3 style="padding-left :40px">Computer Science Baccalaureate Degree 2019 - 2021</h3>
              <h5 style="padding-left :60px">University of Colorado Boulder</h5>
              <ul style="padding-left :80px">
                <li>Worked with C++, C#, HTML, CSS, JavaScript, Python, Regex and GIT</li>
                <li>Built and developed applications individually and within groups</li>
              </ul>
            </div>
          <!-- STRENGTHS -->
            <div>
              <h2 style="text-align:center">Strengths</h2>
              <div class="card-columns">
                <div class="card bg-primary text-center">
                  <div class="card-body">
                    <p class="card-text">Teamwork</p>
                  </div>
                </div>
                <div class="card bg-primary ">
                  <div class="card-body text-center">
                    <p class="card-text">Creative</p>
                  </div>
                </div>
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <p class="card-text">Adaptable</p>
                  </div>
                </div>
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <p class="card-text">Analytical</p>
                  </div>
                </div>
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <p class="card-text">Dedicated</p>
                  </div>
                </div>
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <p class="card-text">Hard Worker</p>
                  </div>
                </div>
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <p class="card-text">Optimist</p>
                  </div>
                </div>
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <p class="card-text">Optimist</p>
                  </div>
                </div>
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <p class="card-text">Optimist</p>
                  </div>
                </div>
              </div>
            </div>
          <!-- SKILLS -->
            <div>
              <h2>Skills</h2>
                <h3 style="position:relative; left: 40px;">Technology</h3>
                  <table style="position:relative; left: 80px;">
                    <tr>
                      <th>Skills</th>
                    </tr>
                    <tr>
                      <td>HTML</td> <td><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span></td>
                    </tr>
                    <tr>
                      <td>CSS</td><td><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span></td>
                    </tr>
                    <tr>
                      <td>GIT</td><td><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span></td>
                    </tr>
                    <tr>
                      <td>C++</td><td><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span></td>
                    </tr>
                    <tr>
                      <td>C#</td><td><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_deactivated"></span></td>
                    </tr>
                    <tr>
                      <td>Unity Engine</td><td><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span></td>
                    </tr>
                    <tr>
                      <td>Blockchain</td><td><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span></td>
                    </tr>
                    <tr>
                      <td>Javascript</td><td><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_activated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span><span class="dot_deactivated"></span></td>
                    </tr>
                  </table>
            </div>
          <!-- DISTINCTIONS  -->
            <div>
              <h2>Distinctions</h2>
              <table>
                   <tr>
                     <th>
                       <div class="text-center" >
                         Awards
                       </div>
                     </th>
                     <th style="padding-left:10px">
                       <div class="text-center">
                        Institutions
                       </div>
                     </th>
                   </tr>
                   <tr>
                     <td style= ><div class="text-center">
                      Graduated Magne Cum Larde
                     </div></td>
                    <td style="padding-left:10px"><div class="text-center">
                     Franklin High School
                    </div></td>
                   </tr>
                   <tr>
                     <td><div class="text-center">
                      Honors Scholarship
                     </div></td>
                     <td style="padding-left:10px"><div class="text-center">
                     University of Colorado Boulder
                     </div></td>
                   </tr>
              </table>
            </div>
          <!-- ACCOMPLISHMENTS -->
            <div>
              <h2>Accomplishments</h2>
              <p style="position:relative; left: 40px;">ACT Score: 32</p>
            </div>
          <!-- PERSONALITY -->
            <div>
              <h2>Personality Type</h2>
              <a style="position:relative; left: 40px;" href="https://www.16personalities.com/enfj-personality">ENFJ</a>
            </div>
        </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
